@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --Background-Color: #93B1A6;
  --Page-Color: #5C8374;
  --Font-Color: #183D3D;
  --Text-Color: white;
}
body {
  background-color: var(--Background-Color);
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  padding-left: 0.5rem;
}
.App {
  display: flex;
  flex-direction: row;
  margin: auto;
  column-gap: 0.5rem;
  width: 100%;
}